#footer{
    background-color: black;
    background-position: fixed;
    padding: 15px;
    margin-top: 600px;
    /* padding-left: -15px; */
    /* margin: 15px; */
}

#texter{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    /* color: teal !important; */
}

.row{
    list-style-type: none;
}

#textfoot{
    color: #FFFF00;
}

#foot,#texter{
    background: linear-gradient(45deg,teal,lime);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}