#spot-button{
    border-width: 4px;
    border-style: solid;
    outline: none;
    border-radius: 50em !important;
    border-image: linear-gradient(to left,lime 30%,#FFFF00 ) 1;
}
#spot-button:hover{
    border-width: 4px;
    border-style: solid;
    outline: none;
    border-radius: 50em !important;
    border-image: linear-gradient(to left,darkorange 30%,darkorchid ) 1;
}

#spot-button{
    background: linear-gradient(to right,#FFFF00 30%,lime );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-style: bold;
}
#spot-button:hover{
    background: linear-gradient(to left,darkorange 15%,darkorchid );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-style: bold;
}

#container-spotify{
    background-color: black;
    align-items: center;
    margin: auto;
    height: 250vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
}
#gradtext{
    background: linear-gradient(to left,#FFFF00 50%,lime );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
#modal-body{
    background-color: black !important;
    backdrop-filter: blur(10px);
}
#staticBackdropLabel{
    background: linear-gradient(to left,fuchsia 30%,cyan);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
#modal-header{
    background-color: black !important;
}

#modal-footer{
    background-color: black;
}